<div class="example-container mat-elevation-z8">
    <h2>Customer List</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/add-customer']"><mat-icon>add</mat-icon> Customer</a>
    </div>
   
      <div >  
      <table mat-table [dataSource]="data" class="example-table" class="mat-elevation-z8">
            >
         
        <ng-container matColumnDef="Username" class="username">
          <th mat-header-cell *matHeaderCellDef>UserName</th>
          <td mat-cell *matCellDef="let row">{{row.UserName}}</td>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let row">{{row.Email}}</td>
        </ng-container>
  
        <!-- FirstName Column -->
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef>FirstName</th>
          <td mat-cell *matCellDef="let row">{{row.FirstName}}</td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef>LastName</th>
            <td mat-cell *matCellDef="let row">{{row.LastName}}</td>
          </ng-container>

          <!-- CreatedOn Column -->
        <ng-container matColumnDef="CreatedOn">
            <th mat-header-cell *matHeaderCellDef>CreatedOn</th>
            <td mat-cell *matCellDef="let row">{{row.CreatedOn}}</td>
          </ng-container>
  

            <!-- CreatedOn Column -->
        <ng-container matColumnDef="IsActive">
            <th mat-header-cell *matHeaderCellDef>IsActive</th>
            <td mat-cell *matCellDef="let row">{{row.IsActive}}</td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/customer-details/', row.UserId]"></tr>
      </table>
    </div>
  </div>
