<div class="example-container mat-elevation-z8">
    <h2>Customer Details</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/customers']"><mat-icon>list</mat-icon></a>&nbsp;
      <!-- <a mat-flat-button color="primary" [routerLink]="['/ordersbycustomer']" style="margin-left: '100px';"> View Orders By Customer</a> -->
      <a mat-flat-button color="primary" (click)="gotoOrdersByCustomer()" style="margin-left: '100px';"> View Orders By Customer</a>

    
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{customers.UserName}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Email:</dt>
          <dd>{{customers.Email}}</dd>

          <dt>FirstName:</dt>
          <dd>{{customers.FirstName}}</dd>

          <dt>LastName:</dt>
          <dd>{{customers.LastName}}</dd>

          <dt>CreatedOn:</dt>
          <dd>{{customers.CreatedOn}}</dd>

          <dt>IsActive:</dt>
          <dd>{{customers.IsActive}}</dd>
        </dl>
      </mat-card-content>
      
      <mat-card-actions>
           <!--<a mat-flat-button color="primary" [routerLink]="['/edit-customer/_id']"><mat-icon>edit</mat-icon> Edit </a>-->
           <a mat-flat-button color="primary" (click)="gotoEditcustomer()"><mat-icon>edit</mat-icon> Edit </a>
        <a mat-flat-button color="warn" (click)="deleteCustomer()"><mat-icon>delete</mat-icon> Delete</a>
        
      </mat-card-actions>
    </mat-card>
  </div>